header {
    background-color: red;
    padding-top: 20px;
    padding-bottom: 20px;
}

main {
    background-color: aquamarine;
    margin-top: 50px;
}

footer {
    background-color: #88E6F4;
    padding-top: 20px;
    padding-bottom: 20px;
    margin-top: 50px;
}

a {
    color: black;
}

a:hover {
    text-decoration: none;
}

