header {
    background-color: red;
    padding-top: 20px;
    padding-bottom: 20px;
}

main {
    background-color: aquamarine;
    margin-top: 50px;
}

footer {
    background-color: #88E6F4;
    padding-top: 20px;
    padding-bottom: 20px;
    margin-top: 50px;
    position: fixed;
    width: 100%;
    bottom: 0px;
}

section {
    margin-top: 20px;
    margin-bottom: 20px;
    border: solid 3px black;
}

a {
    color: black;
}

a:hover {
    text-decoration: none;
    color: black;
}

li {
    list-style: none;
}

img {
    width: 200px;
    height: 200px;
}

#erreur_panier {
    display: none;
    color: red;
}

