header {
    background-color: #F54949;
    padding-top: 20px;
    padding-bottom: 20px; 
    width: 100%;
}

body {
    background-color: #BFBFBF;
}

main {
    margin-top: 50px;
}

footer {
    background-color: #F54949;
    padding-top: 20px;
    padding-bottom: 20px;
    position: fixed;
    bottom: 0px;
    width: 100%;
}

section {
    margin-top: 20px;
    margin-bottom: 20px;
}

hr {
    background-color: red;
}

a {
    color: black;
}

a:hover {
    text-decoration: none;
    color: black;
}

li {
    list-style: none;
}

img {
    width: 200px;
    height: 200px;
}

#erreur_panier {
    display: none;
    color: red;
}

/* page produit */

#description_article {
    display: flex;
    align-items: center;
}

#un_article {
    margin-bottom: 200px;
}

/* page panier */

#formulaire_commande {
    margin-bottom: 200px;
}